{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light"style="background-color:#CED8F6;">
        <div class="navbar-nav" id="navbarSupportedContent">
            <div class="container">
                <div class="row">
                    <a class="nav-link" href=/><div class="col-xs-12 col-sm-6 col-md-1 header">Logout</div></a>
                </div>
            </div>
        </div>
    </nav>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}


