{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    <ul>
        {% for item in person %}

            <a href=/showcostByCategory/{{item.id}}>カテゴリーで確認する</a>

            <a href=/showcostByYear/{{item.id}}>年で確認する</a>


            <li>{{item.id}}</li>
            <li>{{item.name}}</li>
            <li>{{item.password}}</li>
        {% endfor %}
    </ul>
{% endblock %}
