{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light"style="background-color:#CED8F6;">
        <div class="navbar-nav" id="navbarSupportedContent">
            <div class="container">
                <div class="row">
                    <a class="nav-link" href=/><div class="col-xs-12 col-sm-6 col-md-1 header">Logout</div></a>
                    <a class="nav-link" href=/accesshomepage/{{person[0].id}}><div class="col-xs-12 col-sm-6 col-md-1 header">homepage</div></a>
                </div>
            </div>
        </div>
    </nav>

    {% set sumFoodPrice = 0 %}
    {% set sumFunPrice = 0 %}
    {% set sumTrafficPrice = 0 %}


    <table class="table">
        <thead>
            <tr>
                <th>costname</th>
                <th>price</th>
                <th>category</th>
            </tr>
        </thead>

        <tbody>
        {% for item in cost %}
            <tr>
                <th>{{item.costname}}</th>
                <th>{{item.price}}</th>
                <th>{{item.category}}</th>
            </tr>
            {% if item.category == '食費' %}
                {% set sumFoodPrice = sumFoodPrice  + item.price %}
            {% endif %}

            {% if item.category == '娯楽' %}
                {% set sumFunPrice = sumFunPrice  + item.price %}
            {% endif %}

            {% if item.category == '交通費' %}
                {% set sumTrafficPrice = sumTrafficPrice  + item.price %}
            {% endif %}

        {% endfor %}
        </tbody>

    </table>

    <canvas id="myPieChart"></canvas>
    <!-- CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

    <script>
      var ctx = document.getElementById("myPieChart");
      var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["食費", "娯楽", "交通費"],
          datasets: [{
              backgroundColor: [
                  "#BB5179",
                  "#FAFF67",
                  "#58A27C"
              ],
              data: [{{sumFoodPrice}}, {{ sumFunPrice }},{{ sumTrafficPrice }}
              ]
          }]
        },
        options: {
          title: {
            display: true,
            text: 'カテゴリー別 割合'
          }
        }
      });
      </script>
{% endblock %}
