{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {% set sumPrice = 0 %}
    <ul>
        {% for item in cost %}
            <li>{{item.costname}}</li>
            <li>{{item.price}}</li>
            {% set sumPrice = sumPrice + item.price %}
        {% endfor %}
    </ul>
    {{ sumPrice }}
{% endblock %}
