{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light"style="background-color:#CED8F6;">
        <div class="navbar-nav" id="navbarSupportedContent">
            <div class="container">
                <div class="row">
                    <a class="nav-link" href=/><div class="col-xs-12 col-sm-6 col-md-1 header">Logout</div></a>
                    <a class="nav-link" href=/accesshomepage/{{person[0].id}}><div class="col-xs-12 col-sm-6 col-md-1 header">homepage</div></a>
                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">家計簿を登録して下さい</h1>
        <p class="lead">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </p>
    </main>


{% endblock %}
