{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light"style="background-color:#CED8F6;">
        <div class="navbar-nav" id="navbarSupportedContent">
            <div class="container">
                <div class="row">
                    <a class="nav-link" href=/registrationKakeibo/{{person[0].id}}"><div class="col-xs-12 col-sm-6 col-md-1 header">Register</div></a>
                    <a class="nav-link" href=/showcost/{{person[0].id}}><div class="col-xs-12 col-sm-6 col-md-1 header">Show</div></a>
                    <a class="nav-link" href=/><div class="col-xs-12 col-sm-6 col-md-1 header">Logout</div></a>
                    <a class="nav-link" href=/delete/{{person[0].id}}><div class="col-xs-12 col-sm-6 col-md-1 header">Delete</div></a>
                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">こんにちは{{person[0].name}}さん</h1>
        <p class="lead">Registerで家計簿の登録、Showで家計簿の確認ができます</p>
    </main>


{% endblock %}