{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    <ul>
        {% for item in person %}
            <a href=/registrationKakeibo/{{item.id}}>家計簿に登録する</a>
            <li>{{item.id}}</li>
            <li>{{item.name}}</li>
            <li>{{item.password}}</li>
        {% endfor %}
    </ul>
    ok
{% endblock %}