{% extends 'base.html.twig' %}


{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}


{% block body %}
    <h2>LoginPage</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <a href="/registrationPerson">ユーザー登録</a>
    <p>test用の名前とパスワード</p>
    <p>name: test</p>
    <p>password: 1234</p>
{% endblock %}
